:root {
  --primary-color: white;
  --secondary-color: #22232A;
  --yellow-color: #ebebeb;
  --msg-color: #646464;
  --border-color: #707070;
  --sentmsg-color: #FFCE48;
}

[data-theme="dark"] {
  --primary-color: #22232A;
  --secondary-color: white;
  --yellow-color: #FFCE48;
  --msg-color: #646464;
  --border-color: white;
  --sentmsg-color: #FFCE48;
}

.bg-black {
  background-color: var(--primary-color);
}

.btn-yellow {
  background-color: #FFCE48;
  color: var(--secondary-color);
}

img {
  max-width: 100%;
}

.bot_text {
  padding: 0 0 0 15px;
  width: 65%;
}

.bot_text h6 {
  color: var(--secondary-color);
  margin: 0 0 8px 0;
}

.bot_text h6 .bot_number {
  font-size: 13px;
}

.bot_text p {
  font-size: 14px;
}

.bot_img {
  width: 15%;
}

.bot_list {
  padding: 18px 16px 10px;
}

#sidebar-wrapper {
  height: 100vh;
  margin-left: -25rem;
  overflow: scroll;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--secondary-color);
}

#sidebar-wrapper .list-group {
  width: 25rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -25rem;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -25rem;
  }
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

@media (max-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
}

.msg_history {
  height: 75vh;
  overflow-y: scroll;
}

.incoming_msg_img {
  width: 5%;
}

.received_msg {
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 60%;
}

.received_msg .received_withd_msg {
  width: 57%;
}

.received_msg .received_withd_msg > p {
  font-size: 14px;
  padding: 5px 10px 0 12px;
  width: 100%;
}

.received_msg .time_date {
  color: #747474;
  padding: 0 10px 5px 12px;
  font-size: 12px;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.outgoing_msg .sent_msg {
  float: right;
  width: 46%;
}

.outgoing_msg .sent_msg > p {
  font-size: 14px;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg .time_date {
  color: #747474;
  padding: 0 10px 5px 12px;
  font-size: 12px;
}

.type_msg {
  position: relative;
}

.type_msg .input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: var(--secondary-color);
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.msg_send_btn {
  background: #FFCE48 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

#navbarDropdown {
  color: var(--secondary-color);
}

.text-color {
  color: var(--secondary-color);
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #FFCE48;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
